/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap'); */


body {
    width: 100%;
    height: 200vh;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0;
    /* background-color: rgb(41, 128, 179); */
    background-color: rgb(252, 209, 177);
    font-family: 'Source Sans Pro', sans-serif ;
}


.nav-bar {
    /* border: 2px solid black; */
    background-color: rgb(41, 128, 179);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
    position: sticky;
    top: 0;
    z-index: 5;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid red; */
    text-decoration: none;
    width: 230px;
    height: 50px;
    color: white;
    font-size: 22px;
    cursor: pointer;
}


/* width tells scale how far to go */

.nav-item::after {
    content: '';
    visibility: hidden;
    transition: all 0.22s ease-in-out;
    width: 60%; 
    border: 1px solid white;
    transform: scaleX(0)
}

.nav-item:hover::after {
    visibility: visible;
    transform: scaleX(1)
}

.master-container {
    /* border: 2px solid blue; */
    width: 100%;
    height: 2300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.location-container {
    /* border: 2px solid black; */
    width: 250px;
    height: 80%;
    margin-left: 3%;
    margin-bottom: 2%;
    z-index: 2;
    /* background-color: rgb(152, 205, 240); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family:'Courier New', Courier, monospace;
    
}

/* remember the location line is a container for before */

.location-container::before {
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    background-color: rgb(238,218,218);
    z-index: -1;
}

.location-line {
    width: 5px;
    z-index: -1;
    position: absolute;
    top: 2.5%;
    background-color: rgb(235, 174, 174);
    transition: height 0.6s ease-out;

}

.location {
    width: 130px;
    height: 130px;
    border: 4px solid rgb(238, 218, 218);
    background-color: rgb(238, 218, 218);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in; 
    font-size: 20px;
    font-weight: bolder;
}


.text-container {
    /* border: 10px solid black; */
    width: 1550px;
    height: 2000px;
    margin: 0.5%;
    border: 2px solid rgb(41, 128, 179);
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(152, 205, 240); */
    background-color: rgb(152, 205, 240);
}

.about-one {
    /* border: 10px solid black; */
    width: 1200px;
    height: 400px;
    /* background-color: red; */
}

.my-photo {
    border: 5px solid rgb(41, 128, 179);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 2%;
}

.description {
    font-size: 23px;
    border: 2px solid rgb(235, 174, 174);
    background-color: rgb(238, 218, 218);
    width: 95%;
    height: 50%;
    padding-left: 2%;
    padding-bottom: 1%;
    line-height: 38px;
    
}

.hobbies {
    border: 2px solid rgb(235, 174, 174);
    width: 45%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    padding-left: 2%;
    background-color: rgb(238, 218, 218);
}


.category {
    width: 100%;
    /* height: 25%; */
    border-top: 2px solid rgb(41, 128, 179);
}

#about {
    height: 32%;
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(152, 205, 240);
}

#projects {
    height: 45%;
    border-bottom: none;
}

#goals {
    height: 35%;
    display: flex;


}

#contact {
    height: 8%;
    background-color: rgb(191, 221, 240);
    border: none;
    border-top: 2px solid rgb(41, 128, 179);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.swiper {
    /* border-top: 2px solid black; */
    /* border-bottom: 2px solid black; */
    width: 100%;
    height: 100%;
    background-color: rgb(191, 221, 240);
}


.swiper-wrapper {
    /* border: 2px solid red; */
    width: 60%;
    height: 60%;
}

.swiper-slide {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project-name {
    font-size: 40px;
}


.description-box {
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.picture-scroll-container {
    /* width: 45%; */
    width: 47%;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(238, 218, 218);
    padding-bottom: 50px;
    border: 2px solid rgb(41, 128, 179);
    /* border-right: none; */
    /* margin-left: 2%; */
}

.NW {
    object-fit: cover;
    width: 90%;
    height: 75%;
    /* border: 2px solid black; */
    margin-top: 50px;
}


#NW-1,
#PML-1,
#CTR-1 {
    margin-top: 1000px;
}

#TA-1 {
    margin-top: 700px;
}

.about-project-container {
    /* width: 700px; */
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0.5%;
    padding-bottom: 51px;
    font-size: 23px;
    /* margin-right: 0.5%; */
    /* color: white; */
    background-color: rgb(152, 205, 240);
    line-height: 2rem;
    border: 2px solid rgb(41, 128, 179);
    /* border-right: none; */
}

.project-description {
    margin-right: 0.5%;
    background-color: rgb(238, 218, 218);
    border: 4px solid rgb(235, 174, 174);
    padding-left: 1%;
}

.frontend,
.backend {
    background-color: rgb(238, 218, 218);
    border: 4px solid rgb(235, 174, 174);
    width: 70%;
    height: 70px;
    padding-left: 1%;
}

.github-link {
    text-decoration: none;
    font-size: 22px;
    /* color: black; */
}

.goals-container {
    /* border-top: 2px solid black; */
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    background-color: rgb(152, 205, 240);
    /* font-weight: bolder; */
}


.goals-header {
    text-decoration: underline;
}




.goals-list {
    width: 280px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    border: 2px solid rgb(235, 174, 174);
    font-size: 20px;
    flex-wrap: wrap;
    background-color: rgb(238, 218, 218);
}


#completed-goals-list {
    overflow: hidden;
    overflow-y: scroll;
    flex-direction: row;
}

#completed-goals-list #task {
    text-decoration: line-through;
}

.my-github,
.my-email {
    font-size: 30px;
    margin: 20px;
    text-decoration: none;
}




@media (max-width: 1900px) {
    
    .about-one .description {
        overflow: hidden;
        overflow-y: scroll;
    }
}


@media (max-width: 1500px) {
    #about {
        flex-direction: column;
        /* background-color: black; */
        /* border: 2px solid black */
        justify-content: center;
        align-items: center;
        /* border: 10px solid black; */
        height: 650px;
    }

    #projects {
        height: 725px;
    }

    #about .my-photo {
        width: 150px;
        height: 150px;
    }

    .about-one {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
        /* border: 2px solid black; */
    }

    .about-one .description {
        width: 90%;
        height: 80%;
        align-items: center;
    }

    .about-one .hobbies {
        width: 90%;
        height: 30%;
        flex-direction: row;


    }
}

@media (max-width: 1200px) {

    .swiper {
        width: 100%;
        height: 100%;
        /* border: 2px solid blue; */
        display: flex;
    }

    .swiper-wrapper {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
    }

    .swiper-slide {
        /* border: 2px solid red; */
        justify-content: center;
        align-items: center;
    }


    .project-name {
        /* font-size: 24px; */
        align-self: center;
        /* margin-right: 17%; */
    }

    .description-box {
        /* border: 2px solid green; */
        height: 88%;
        width: 80%;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .description-box .about-project-container {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        overflow-y: scroll;

    }   

    .description-box .picture-scroll-container {
        width: 100%;
        height: 400px;
    }


   .NW {
       width: 70%;
       height: 500px;
   }


   #NW-1,
   #PML-1,
   #CTR-1 {
    margin-top: 1200px;
   }

    #TA-1 {
    margin-top: 900px;
   }

}


@media(max-width: 1800px) {
    .text-container {
    margin: 0;
    height: 2200px;
   }

    #goals {
        height: 800px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
 
    .goals-container {
     /* border: 2px solid red; */
     width: 50%;
     height: 350px;
     align-items: center;
    }
 
    .goals-list {
        width: 500px;
        height: 65%;
    }
}